/***** Always True *****/
@media only screen {
  /*** General Purpose Display Styles ***/
  .flex {display: flex;}
  .column {flex-direction: column;}
  .absolute {position: absolute;}
  .align-center {align-items: center;}
  .justify-center {justify-content: center;}
  .align-self-center {align-self: center;}
  .scroll {overflow: scroll;}
  .padding-0 {padding: 0 !important;}

  /*** Sizes ***/
  .width-40 {width: 40%;}
  .width-50 {width: 50%;}
  .width-90 {width: 90%;}
  .width-100 {width: 100%;}
  .height-75vw {height: 75vw;}
  .height-100 {height: 100%;}

  /*** Opacities ***/
  .opacity-95 {opacity: 100%;}
  .opacity-95:hover {opacity: 95%; z-index: 5 !important; transform: translate3d(0, 0, 200px);}

  /*** Margins ***/
  .margin-0 {margin: 0;}
  .margin-5px {margin: 5px;}
  .margin-10px {margin: 10px;}
  .margin-top-20px {margin-top: 20px;}
  .margin-right-20px {margin: 20px}

  /*** Font Colors ***/
  .text-black {color: #000 !important;}
  .text-white {color: #fff !important;}

  /*** Fonts ***/
  .font-65px {font-size: 65px;}
  .font-32px {font-size: 32px;}
  .font-26px {font-size: 26px;}
  .font-22px {font-size: 22px;}
  .font-3vw {font-size: 3vw !important;}
  .font-3-5vw {font-size: 3.5vw !important;}
  .font-2vw {font-size: 2vw !important;}
  .font-2-5vw {font-size: 2.5vw !important;}
  .font-1vw {font-size: 1vw !important;}
  .font-1-5vw {font-size: 1.5vw !important;}

  /*** Color Gradients ***/
  .red    {background: linear-gradient(225deg, #F78888 0%, #DA6767 88.84%);}
  .blue   {background: linear-gradient(225deg, #91FFFF 0%, #87E9FF 88.84%);}
  .green  {background: linear-gradient(180deg, #39CBB9 0%, #5BFE9E 100%);}
  .purple {background: linear-gradient(269.15deg, #C183F2 4.11%, #E5B2FF 96.97%);}
  .orange {background: linear-gradient(225deg, #D69334 0%, #FD8F3C 88.84%);}
  .yellow {background: linear-gradient(225deg, #FBFF3C 0%, #DCD531 88.84%)}

  /*** Solid Backgrounds ***/
  .yellow-solid {background-color: #EEF078;}
  .red-solid {background-color: #DA6767;}
  .blue-solid {background-color: #87E9FF;}
  .purple-solid {background-color: #C183F2;}
  .orange-solid {background-color: #FD8F3C;}
  .green-solid {background-color: #39CBB9;}
  
  /*** Shadows ***/
  .box-shadow {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

  /*** Rotations ***/
  .rotate-45 {transform: rotate(45deg);}
  
  /*** Element Styles ***/

  /*** Class Styles ***/
  .pointer:hover {cursor: pointer; opacity: 90%;}

  .enlarge:hover {
      z-index: 1;
      margin-top: 20px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .image {
      height: 20vw;
  }

  .slideshow > div {
      white-space: nowrap;
      animation: slide infinite 10s alternate;
  }

  .project-box {
    width: 40%;
    height: 30vw;
    position: absolute !important;
    background-size: cover;
  }

  .shuffle > img {
    white-space: nowrap;
    animation: slide infinite 10s alternate;
  }

  .cycle-start0-animation-safari  {animation: cycle-start0-safari  infinite 25s alternate-reverse;}
  .cycle-start1-animation-safari  {animation: cycle-start1-safari  infinite 25s alternate-reverse;}
  .cycle-start2-animation-safari  {animation: cycle-start2-safari  infinite 25s alternate-reverse;}
  .cycle-start3-animation-safari  {animation: cycle-start3-safari  infinite 25s alternate-reverse;}
  .cycle-start4-animation-safari  {animation: cycle-start4-safari  infinite 25s alternate-reverse;}

  .cycle-start0-animation-chrome  {animation: cycle-start0-chrome  infinite 25s alternate-reverse;}
  .cycle-start1-animation-chrome  {animation: cycle-start1-chrome  infinite 25s alternate-reverse;}
  .cycle-start2-animation-chrome  {animation: cycle-start2-chrome  infinite 25s alternate-reverse;}
  .cycle-start3-animation-chrome  {animation: cycle-start3-chrome  infinite 25s alternate-reverse;}
  .cycle-start4-animation-chrome  {animation: cycle-start4-chrome  infinite 25s alternate-reverse;}

  /*** ID Styles ***/

  /*** Animations ***/
  .pause:hover > div {animation-play-state: paused;}

  @keyframes slide {
      0% {
        margin-left: 0px;
      }
      50% {
        margin-left: -25%;
      }
      100% {
        margin-left: -50%;
      }
    }

  @keyframes cycle-start2-safari  {
      0% {
        margin: 0;
        margin-top: 35vw;
        margin-left: 10vw;
        z-index: -2;
      }
      20% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 25vw;
        z-index: -1;
      }
      40% {
        margin: 0;
        z-index: 0;
      }
      60% {
        margin: 0;
        margin-top: 15vw;
        margin-left: -25vw;
        z-index: 1;
      }
      80% {
        margin: 0;
        margin-top: 40vw;
        margin-left: -12.5vw;
        z-index: 2;
      }
      100% {
        margin: 0;
        margin-top: 35vw;
        margin-left: 10vw;
        z-index: 3;
      }
  }

  @keyframes cycle-start1-safari  {
    0% {
      margin: 0;
      margin-top: 10vw;
      margin-left: 25vw;
      z-index: -1;
    }
    20% {
      margin: 0;
      z-index: 0;
    }
    40% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -25vw;
      z-index: 1;
    }
    60% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -12.5vw;
      z-index: 2;
    }
    80% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 10vw;
      z-index: 3;
    }
    100% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 25vw;
        z-index: -2;
      }
  }

  @keyframes cycle-start0-safari  {
    0% {
      margin: 0;
      z-index: 0;
    }
    20% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -25vw;
      z-index: 1;
    }
    40% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -12.5vw;
      z-index: 2;
    }
    60% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 10vw;
      z-index: 3;
    }
    80% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 25vw;
        z-index: -2;
      }
    100% {
      margin: 0;
      z-index: -1;
    }
  }

  @keyframes cycle-start4-safari  {
    0% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -25vw;
      z-index: 1;
    }
    20% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -12.5vw;
      z-index: 2;
    }
    40% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 10vw;
      z-index: 3;
    }
    60% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 25vw;
        z-index: -2;
      }
    80% {
      margin: 0;
      z-index: -1;
    }
    100% {
        margin: 0;
        margin-top: 15vw;
        margin-left: -25vw;
        z-index: 0;
      }
  }

  @keyframes cycle-start3-safari {
    0% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -12.5vw;
      z-index: 2;
    }
    20% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 10vw;
      z-index: 3;
    }
    40% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 25vw;
        z-index: -2;
      }
    60% {
      margin: 0;
      z-index: -1;
    }
    80% {
        margin: 0;
        margin-top: 15vw;
        margin-left: -25vw;
        z-index: 0;
      }
    100% {
        margin: 0;
        margin-top: 40vw;
        margin-left: -12.5vw;
        z-index: 1;
      }
  }

  @keyframes cycle-start2-chrome {
    0% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: -2;
    }
    20% {
      margin: 0;
      margin-top: 10vw;
      margin-left: 50vw;
      z-index: -1;
    }
    40% {
      margin: 0;
      z-index: 0;
    }
    60% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -50vw;
      z-index: 1;
    }
    80% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -25vw;
      z-index: 2;
    }
    100% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: 3;
    }
}

  @keyframes cycle-start1-chrome {
    0% {
      margin: 0;
      margin-top: 10vw;
      margin-left: 50vw;
      z-index: -1;
    }
    20% {
      margin: 0;
      z-index: 0;
    }
    40% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -50vw;
      z-index: 1;
    }
    60% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -25vw;
      z-index: 2;
    }
    80% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: 3;
    }
    100% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 50vw;
        z-index: -2;
      }
  }

  @keyframes cycle-start0-chrome {
    0% {
      margin: 0;
      z-index: 0;
    }
    20% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -50vw;
      z-index: 1;
    }
    40% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -25vw;
      z-index: 2;
    }
    60% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: 3;
    }
    80% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 50vw;
        z-index: -2;
      }
    100% {
      margin: 0;
      z-index: -1;
    }
  }

  @keyframes cycle-start4-chrome {
    0% {
      margin: 0;
      margin-top: 15vw;
      margin-left: -50vw;
      z-index: 1;
    }
    20% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -25vw;
      z-index: 2;
    }
    40% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: 3;
    }
    60% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 50vw;
        z-index: -2;
      }
    80% {
      margin: 0;
      z-index: -1;
    }
    100% {
        margin: 0;
        margin-top: 15vw;
        margin-left: -50vw;
        z-index: 0;
      }
  }

  @keyframes cycle-start3-chrome {
    0% {
      margin: 0;
      margin-top: 40vw;
      margin-left: -25vw;
      z-index: 2;
    }
    20% {
      margin: 0;
      margin-top: 35vw;
      margin-left: 20vw;
      z-index: 3;
    }
    40% {
        margin: 0;
        margin-top: 10vw;
        margin-left: 50vw;
        z-index: -2;
      }
    60% {
      margin: 0;
      z-index: -1;
    }
    80% {
        margin: 0;
        margin-top: 15vw;
        margin-left: -50vw;
        z-index: 0;
      }
    100% {
        margin: 0;
        margin-top: 40vw;
        margin-left: -25vw;
        z-index: 1;
      }
  }
  }

/***** > 600px *****/
@media only screen and (min-width: 700px) {

}

/***** <= 600px *****/
@media only screen and (max-width: 700px) {

}